*{
  margin: 0;
  padding: 0;
  color: white
}

html, body{
  margin: 0;
}

::-webkit-scrollbar{
  width: 0.4vw;
  background-color: black;
}
::-webkit-scrollbar-thumb{
  background-color: #201d1d;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #2e2626;
  transition: 0.5s;
}


.container{
  min-height: 100%;
  position: relative;
  z-index: 100;
  background-color: rgba(0, 0, 0, 1);
  /* overflow: hidden */
}

.hero-btn::before{
  content: "";
  position: absolute;
  width: 0%;
  right: 0;
  top: 0px;
  height: 100%;
  background-color: #1A90FF;
  z-index: -10;
  transition: .25s ease-in-out;
}
.hero-btn{
  text-decoration: none;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px 0;
  padding: 16px 25px;
  border-radius: 100px;
  border: 1px solid #1A90FF;
  overflow: hidden;
  z-index: 100;
}
.hero-btn:hover::before{
  width: 100%;
}

.contactUniversalContainer{
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(5, 5, 5, 0.95);
  border: 1px solid rgba(255, 255, 255, 0.125);
  margin: 0 auto;
  width: 100%;
  padding: 40px 0;
  border-radius: 15px;
}
.contactContainer{
  width: 100%;
}
.contactContainer textarea{
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  width: 100%;
  padding: 12px;
  outline: none;
  color: white;
  border-radius: 8px;
  margin: 5px 0 15px;
  resize: none;
  background-color: #2e2626;
  border: 1px solid #000000;
}
.contactContainer input{
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  width: 100%;
  padding: 12px;
  outline: none;
  color: white;
  margin: 5px 0 12px;
  border-radius: 8px;
  background-color: #2e2626;
  border: 1px solid #000000;
}
.contactContainer input:focus, textarea:focus{
  border: 1px solid rgb(213, 208, 243);
  box-shadow: 0 0 6px rgba(213, 208, 243, 1);
}